body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.CV {
  background-color:white;
  
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap; 
  width: 1000px;
}

.div-left, .div-right {
  padding: 20px;
}

.div-left {
  background-color: #356396;
  color: white;
  flex: 1; 
  max-width: 30%;
  box-sizing: border-box;
}

.div-right {
  flex: 2; 
  max-width: 100%; 
  box-sizing: border-box;
}

.image {
  text-align: center;
  margin-bottom: 20px;
}

.image img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

span.email, .adresse, .age, .nationalité, .ville, .tel, .réseaux-sociaux, .langues, .atouts, .centre-interet {
  display: block;
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  font-weight: bold;
  margin-top: 20px;
  display: block;
  color: #d6974c;
  margin-bottom: 20px;
  border-bottom: 2px solid #080808; 
  padding-bottom: 5px; 
}

.section {
  margin-bottom: 30px;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
  color:black
}

.sommaire {
  margin-bottom: 20px;
  margin-left: 0px;
  margin-left : 0px;
  text-align:justify;
}

.titleMaster, .titleLicence, .titleDeug, .titleBaccalauréat, .titleProject, .titreCompetence {
  font-weight: bold;
  margin-bottom: 10px;
}

.descriptionMaster, .descriptionLicence, .descriptionDeug, .descriptionBaccalauréat, .competencesDesc {
  margin-left: 20px;
}
.descProjet{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.projet {
  margin-bottom: 10px;
}

.certifContainer {
  margin-top: 10px;
}

.certif {
  margin-left: 20px;
}

.lieuProjet {
  margin-left: 20px;
}
.Master,.Licence,.Deug,.Baccalauréat{
  margin-bottom: 10px;

}
.competence{
  margin-bottom: 10px;
}
.email{
  margin-bottom: 10px;
}
.github{
  margin-bottom: 10px;
}
.niveauLangue{
  margin-bottom: 10px;
}
.atout{
  margin-bottom: 10px;
}
.interet{
  margin-bottom: 10px;
}

