body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.CV {
  background-color: white;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  width: 1000px;
}

.div-left, .div-right {
  padding: 20px;
}

.div-left {
  background-color:#1f751f;
  color: white;
  display: flex;
  flex-direction: row; 
  align-items: flex-start; 
  justify-content: space-between; 

  gap: 20px;
}

.div-right {
  background-color: #f4f4f4;
  margin-top: 20px; 
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.donnees-personnelles, .atouts, .centre-interet {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex: 1;
}

.réseaux-sociaux {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.langues {
  flex: 1;
}

.donnees-personnelles div, .atouts div, .centre-interet div, .langues div {
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  font-weight: bold;
  margin-top: 20px;
  display: block;
  color: #C1B098;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 30px;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

.sommaire {
  margin-bottom: 20px;
}

.titleMaster, .titleLicence, .titleDeug, .titleBaccalauréat, .titleProject, .titreCompetence {
  font-weight: bold;
 
}
.Master,.Licence,.Deug,.Baccalauréat{
  margin-bottom: 10px;

}

.descriptionMaster, .descriptionLicence, .descriptionDeug, .descriptionBaccalauréat, .competencesDesc {
 
  margin-left: 20px;
  
}
.descProjet{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.projet {
  margin-bottom: 10px;
}

.certifContainer {
  margin-top: 10px;
}

.certif {
  margin-left: 20px;
}

.lieuProjet {
  margin-left: 20px;
}
.competence{
  margin-bottom: 10px;
}
.email{
  margin-bottom: 10px;
}
.github{
  margin-bottom: 10px;
}
.niveauLangue{
  margin-bottom: 10px;
}
.atout{
  margin-bottom: 10px;
}
.interet{
  margin-bottom: 10px;
}

